.pageheader
  .breadcrumb-wrapper
    %ol.breadcrumb
      %li
        = link_to :Dashboard, dashboard_path
      %li.active
        = link_to :Products, dashboard_path(:products)

%section#main-content

  - Api::V1::Product.all.each do |product|
    .row
      .col-md-12.col-lg-12
        .panel.panel-default

          .panel-heading
            %h3.panel-title
              %b= product.display_name
            .reportdate.actions
              %span
                %input{type: :text, name: :daterange, value: "#{6.months.ago.beginning_of_day.strftime("%Y-%m-%d")} - #{1.day.ago.beginning_of_day.strftime("%Y-%m-%d")}"}
                %i.fa.fa-calendar-o

          .panel-body.server-chart

            .row

              .col-md-4.col-lg-4

                .col-md-12
                  .panel.panel-solid.widget-mini
                    .panel-body
                      %i.icon-layers
                      %span.total.text-center
                        = product.performance_orders
                      %span.title.text-center Orders

                .col-md-12
                  .panel.panel-solid-primary.widget-mini
                    .panel-body
                      %i.icon-clock
                      %span.total.text-center
                        = product.performance_units
                      %span.title.text-center Units

                .col-md-12
                  .panel.panel-solid-success.widget-mini
                    .panel-body
                      %i.icon-bar-chart
                      %span.total.text-center
                        = product.performance_amount

              .col-md-8.col-lg-8
                .row
                  .col-lg-12
                    .line-chart
                      - product_id = product.id
                      %canvas{id: "product-chart-#{product_id}", class: "product-chart", height: "150"}
                      - content_for :javascript do
                        :javascript
                          $(document).ready(function() {
                              Rocketboard.dateRangePicker();
                              Rocketboard.drawAreaChart("/api/v1/data/chart/performance_product/#{product_id}","product-chart-#{product_id}")
                          });