.pageheader
  .breadcrumb-wrapper
    %ol.breadcrumb
      %li Dashboard
      %li.active Products

%section#main-content

  -# product_performance = Api::V1::Product.performance
  - Api::V1::Product.all.each do |product|
    .row
      .col-md-12.col-lg-12
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              %b= product.display_name
            .reportdate.actions
              %i.fa.fa-calendar-o
              %input{type: :text, name: :daterange, value: "#{6.months.ago.beginning_of_day.strftime("%Y-%m-%d")} - #{1.day.ago.beginning_of_day.strftime("%Y-%m-%d")}"}
              %b.caret
          .panel-body.server-chart
            .row
              .col-md-12.col-lg-2
                %p= product.display_name
                - product.performance.each do |chunk|
                  %p
                    = chunk.x_val
                  %p
                    = chunk.y_val
                    Orders
                  %p
                    = number_to_currency(chunk.amount)
                = number_to_currency(product.performance.map(&:amount).sum)


              .col-md-12.col-lg-10
                .row
                  .col-lg-12
                    .line-chart
                      %canvas#canvas1{height: "90"}

- content_for :javascript do
  :javascript
    $(document).ready(function() {
        Rocketboard.dateRangePicker();
        Rocketboard.chartJs();
    });